.menu-link {
    border-bottom: 1px solid transparent;
    &__active {
        color: $mainBlue !important;
        border-bottom: 1px solid $mainBlue;
    }
}


// .menu-link {
//     border-bottom: 1px solid transparent;
//   }

//   .menu-link__active {
//     color: #2196f3 !important;
//     border-bottom: 1px solid #2196f3;
//   }

